.chatSupport {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar {
    width: 300px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  
  .profile {
    padding: 20px;
    display: flex;
    
    align-items: center;
  }
  
  .profile h2 {
    margin-left: 10px;
  }
  
  .search {
    padding: 10px;
  }
  
  .search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
  }
  
  .contactList {
    overflow-y: auto;
    flex-grow: 1;
    border: 1px solid #ccc;
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .contactItem:hover {
    background-color: #f5f5f5;
  }
  
  .chatArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .chatHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .chatHeader img {
    border-radius: 50%;
    margin: 10px;
  }
  
  .headerIcons {
    margin-left: auto;
  }
  
  .messageList {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .received {
    background-color: #F5F5F5;
    align-self: flex-start;
  }
  
  .sent {
    background-color: #767677;
    color: white;
    align-self: flex-end;
  }
  
  .messageInput {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .messageInput input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .emojiButton, .sendButton {
    margin-left: 10px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }

  .emojiButton {
    background-color: #64758B;
  }

  .sendButton {
    background-color: #000;
  }
  
  .noSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    color: #888;
  }
  
  @media (max-width: 768px) {
    .chatSupport {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: 100px;
      flex-direction: row;
      overflow-x: auto;
    }
  
    .profile, .search {
      display: none;
    }
  
    .contactList {
      display: flex;
    }
  
    .contactItem {
      flex-direction: column;
      align-items: center;
    }
  }