.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form h2 {
  margin-bottom: 1rem;
}

input[type="email"],
input[type="password"],
input[type="text"]   {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  background: #e8e8e8;
  outline: none;
}

.submit-btn {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submit-btn:hover {
  background-color: rgba(0,0,0, 0.8);
}

button:hover {
  opacity: 1;
}

.form-group {
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.register-tag,
.forgot {
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.password-label {
  margin-bottom: 5px;
  position: relative;
}

.error {
  color: tomato;
}
  
.show-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .login-form {
    width: 90%;
    margin: 0 auto;
  }
}
 
  