/* styles.css */

.header {
    text-align: center;
  }
  
  .header_title {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
    padding: 2rem;
  }
  
  .header_hr {
    border-width: 1px; /* border-1px */
    border-color: #e5e7eb; /* border-gray-200 */
    width: 100%;
  }
  
  .content_container {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar, .main_content {
    padding: 1rem; /* p-4 */
    padding-left: 0;
  }

  .hr {
    margin-top: 1.5rem;
  }

  .section {
    padding: 0 0 2rem;
  }
  
  .sidebar_title, .main_content_title {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .sidebar_link, .main_content_text {
    font-size: 1.125rem; /* text-lg */
  }
  
  .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 0;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #4a5568;
  }
  
  .text_underline {
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .content_container {
      flex-direction: row;
    }
    .sidebar {
      display: block;
      width: 33.3333%;
      padding-left: 0; /* md:p-7 */
      padding-right: 1.75rem;
    }
    .main_content {
      width: 66.6667%; /* md:w-2/3 */
      padding-right: 0; /* md:p-6 */
    }
  }
  