.big-logo-container {
    width: 562px; 
    height: 136px; 
    margin: 0 auto;
  }
  
  .big-logo-container svg {
    width: 100%;
    height: 100%;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 768px) {
    .big-logo-container {
      width: 281px; 
      height: 80px; 
    }
  }