.section {
  background-color: #f7f3ee;
  position: relative;
  padding-top: 2em;
}

.section > * {
  min-width: 90vw;
  width: 90%;
  max-width: 1440px;
  width: clamp(90vw, 90%, 1440px);
  margin: 0 auto;
}

.title {
  line-height: 1.5;
  margin-top: -7rem;
  background-color: transparent;
  padding: 0 1rem;
  z-index: 10;
  font-family: 'Black Mango', sans-serif;
  font-size: 61px;
  font-weight: 500;
}

.imageContainer {
  position: relative;
  height: 800px; 
  margin-top: 2rem;
}

.imageWrapper {
  position: absolute;
  width: 300px; 
}

.imageWrapper > img {
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.2);
}

.jeans {
  left: 5%;
  bottom: 115px;
}

.jacket {
  right: 0;
  top: -24%;
}

.trousers {
  left: 55%;
  top: 67%;
}

.label {
  position: absolute;
  font-family: 'Black Mango', sans-serif;
  font-weight: 700;
  font-size: 40px;
  bottom: -40px;
  left: -20%;
  right: 0;
  padding: 0.5rem;
  color: #000;
}

.customizeSection {
  padding: 10rem 10rem 0 10rem;
  background-color: white;
  text-align: center;
  margin-top: 2rem;
  min-width: 100vw;
  width: 100%;
  max-width: 1440px;
}

.customizeSection h3,
.customizeSection h5 {
  font-family: 'Black Mango', sans-serif;
  font-weight: 700;
}

.customizeSection h3 {
  font-size: 30px;
}

.customizeSection h5 {
  font-size: 20px;
  color: #767677;
}

.customizeSection > h3, 
.customizeSection > p {
  margin: 0.5em;
}

.customizeSection > p {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.customizeButton {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .imageContainer {
    height: auto;
    width: 90%;
  }

  .imageWrapper > img {
      width: 100%;
      margin: 5% auto;
      height: auto;
  }

  .imageWrapper {
    position: static;
    width: 100%;
  }

  .overlay {
    height: 99.5%;
  }

  .label {
    color: #FFF !important;
    font-size: 20px;
    position: relative;
    top: -80px;
    left: 0;
    z-index: 20;
  }

  .section {
    background-color: white;
  }

  .title {
    margin-top: -8rem;
    padding: 0;
    margin-bottom: 2rem;
    font-size: 27px;
  }

  .title-break,  .customizeSection {
      display: none;
  }
}
  
  