.modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  padding-inline: 16px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  position: relative;
  padding: 3.5rem 2rem;
  max-width: 700px;
  width: 100%;
  font-family: var(--font-poppins);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 16px;
}

.modal-content p {
  font-size: 16px;
  color: #767677;
  line-height: 24px;
  margin-bottom: 32px;
}

.button-group {
  gap: 20px;
  padding-inline: 32px;
}

.modal-button {
  font-size: 14px;
  padding: 10px 24px;
  border: none;
  color: #fff;
  height: 41px;
  cursor: pointer;
  border-radius: 0;
  font-weight: 500;
  background-color: #000;
  border: 1px solid #000;
  text-transform: uppercase;
  font-family: var(--font-poppins);
}

button.close {
  top: 14px;
  right: 12px;
  border: none;
  position: absolute;
  background: transparent;
}

.btn-shopping-primary {
  color: #000;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .modal-content {
    padding: 42px 16px;
  }

  .modal-content h2 {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 4px;
  }

  .modal-content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  .button-group {
    gap: 8px;
    padding-inline: 0;
    flex-direction: column;
  }

  button.close {
    top: 6px;
    right: -8px;
  }
}
