.container {
  gap: 62px;
  padding-bottom: 48px;
  grid-template-columns: 0.8fr 1fr;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
