.sidebar {
  display: none;
  width: 30%;
  padding: 1rem; 
}

.sidebar_title, 
.sidebar_link {
  font-family: var(--font-poppins);
}

.sidebar_title {
  font-size: 1.5rem; 
  font-weight: 600 !important;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.sidebar_link {
  font-size: 1.125rem; 
  font-weight: 400 !important;
  display: block;
  margin-bottom: 0.5rem;
}

  
@media (min-width: 768px) {
  .sidebar {
    display: block;
    padding: 1.75rem; 
    padding-left: 0;
    padding-top: 0;
  }
}
