.navContainer {
  margin-bottom: 32px;
}

.action,
.nav_list {
  gap: 16px;
}

.nav_list li {
  position: relative;
}

.toggle_sidebar,
.nav_list button {
  border: none;
  background: transparent;
}

.nav_list button {
  font-size: 16px;
  color: #767677;
  font-weight: 400;
  font-family: var(--font-poppins);
}

.active {
  color: #000 !important;
  font-weight: 500 !important;
}

.underline {
  height: 2px;
  display: block;
  bottom: -6px;
  position: absolute;
  background: #000;
}

.toggle_sidebar {
  gap: 8px;
  font-weight: 500;
  color: #000000cc;
  white-space: nowrap;
}

.dropdown {
  width: 120px !important;
}

@media (max-width: 1024px) {
  .navContainer {
    gap: 32px;
    overflow-x: auto;
    margin-bottom: 10px;
    padding-block: 12px;
  }

  .navContainer::-webkit-scrollbar {
    display: none;
  }

  .nav_list li {
    white-space: nowrap;
  }

  .toggle_sidebar {
    display: none;
  }
}
