.sidebar {
  width: 295px;
  background: #fff;
  height: fit-content;
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 24px 0;
  border: 1px solid #0000001a;
}

.header {
  margin-bottom: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid #0000001a;
}

.header h2 {
  font-size: 20px;
  line-height: 20px;
  font-family: var(--font-poppins);
}

@media (max-width: 1024px) {
  .sidebar {
    top: 0;
    left: 0;
    width: 45%;
    z-index: 60;
    height: 100%;
    border: none;
    overflow: auto;
    position: fixed;
    border-radius: 0;
    padding-inline: 28px 24px;
  }

  .sidebar ::webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 90%;
    padding-inline: 16px 4px;
  }
}
