.dashboard {
    padding: 20px;
    font-family: var(--font-public-sans), sans-serif;
}

.statsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.statsGridThree {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    padding: 20px 0;
}

.statCard, 
.statCard {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.statCard {
    display: flex;
    gap: 10px;
}

.statCard h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Public Sans', sans-serif;
}

.statCard > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statCard p {
    color: #8B909A;
    font-size: 14px;
    font-family: 'Public Sans', sans-serif;
}

.statValue {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.mainValue {
    color: #333;
}

.subValue {
    color: #666;
    margin-left: 10px;
    font-size: 18px;
}

.statChange {
    font-size: 14px;
    color: #28a745;
}

.bottomSection {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    height: 100vh;
  }

.reportsSection {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    font-family: Public-sans, sans-serif;
    height: 100%;
}

.reportsTitle {
    font-size: 18px;
    font-family: Public-sans, sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    color: #23272E;
}

.reportsTag {
    color: #8B909A;
    font-weight: 500;
    font-size: 14px;
}

.reportsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.reportItem {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.reportItem.active {
    font-size: 24px;
    border-bottom: 2px solid #0F60FF;
    margin-bottom: 10px;
}

.reportItem span {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.reportItem p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.chartContainer {
    height: 300px;
}

.userSection {
    height: 200px;
}

.usersSection, .salesByCountry {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding-top: 20px;
}

.usersValue {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.userChart {
    height: 50px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .bottomSection {
      flex-direction: column;
    }
    .reportsSection {
      flex: none;
      width: 100%;
    }
  }

  