@font-face {
  font-family: 'Black Mango';
  src: url('/fonts/BlackMango-Black.ttf') format('truetype');
  font-weight: 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Black Mango';
  src: url('/fonts/BlackMango-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Black Mango';
  src: url('/fonts/BlackMango-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

@font-face {
  font-family: 'Black Mango';
  src: url('/fonts/BlackMango-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}


::selection {
  background: rgb(var(--background-color));
  color: rgb(var(--foreground-color));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: auto !important;
  -webkit-user-select: auto !important;
  /* outline: 2px solid red; */
}

body, html {
  color: rgb(var(--foreground-color));
  background: rgb(var(--secondary-color));
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}


body.cart-open {
  overflow: hidden;
}

#modal.action,
body.action {
  opacity: 0.7;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: rgb(var(--foreground-color));
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type='search']::-ms-reveal,
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
  font-weight: 500;
}

select {
  padding: 8px;
}

.main-button,
.main-button *,
.main-button :after,
.main-button :before,
.main-button:after,
.main-button:before {
  border: 0 solid;
  box-sizing: border-box;
}

.main-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  color: #FFF;
  padding: 1rem 2rem;
  margin-bottom: 4em;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 9 !important;
  display: inline-block;
  font-family: var(--font-poppins), sans-serif;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #000;
  box-shadow: 3px 3px 0px white,
  2px 2px 0px black,
  4px 4px 0px black;
}

.main-button:disabled {
  cursor: default;
}

.main-button:-moz-focusring {
  outline: auto;
}

.main-button svg {
  display: block;
  vertical-align: middle;
}

.main-button [hidden] {
  display: none;
}

.main-button {
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.main-button span {
  mix-blend-mode: difference;
  margin-right: 10px;
}

.main-button:after,
.main-button:before {
  background: linear-gradient(
    90deg,
    #fff 34%,
    transparent 0,
    transparent 45%,
    #fff 0,
    #fff 77%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.main-button:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.main-button:hover:after,
.main-button:hover:before {
  --progress: 0;
}

.btn-shop {
  margin-top: 10px;
}

.btn-shop:after {
  content: '';
}


.button-fill {
  background: rgb(var(--background-color)) !important;
  color: rgb(var(--foreground-color));
  border: none !important;
}

.button-outline {
  background: transparent !important;
  border: 1px solid rgb(var(--background-color)) !important;
  color: rgb(var(--background-color));
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex,
.flex-fluid {
  display: flex;
}

.flex-col,
.flex-fluid {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-x {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-y {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.grid {
  display: grid;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.highlight-context {
  padding: 1rem;
  margin-right: 2em;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  display: block;
}

.highlight-context h3 {
  font-family: 'Black Mango', sans-serif;
  font-weight: 700;
}

.highlight-context > * {
  line-height: 1.5;
}

.highlight-context button {
  border: 0;
  background-color: #FFF;
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  /* background-color: yellow; */
}

.not-found {
  padding: 50vh 0;
}

.main-banner {
  background-image: url('/picture.png');
  background-size: cover;
}

.main-banner-text-main {
  margin-bottom: 2rem;
  font-size: 30px;
}


.main-banner-container {
  align-self: flex-start;
  margin-left: 5%;
  padding-top: 8rem;
}

.main-banner-img {
  background-color: #FEFFF1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-banner-img1, 
.main-banner-img2 {
  width: 100%;
  height: 300px;
  padding: 2em;
  color: #FFF;
  text-align: center;
}

.main-banner-img1 { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/make-up.jpg');
  background-size: cover;
  background-position: center;
}

.main-banner-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/people.png');
  background-size: cover;
  background-position: center;
}

.main-banner-text {
  margin-top: 25rem;
}

.main-banner-text-center > * {
  margin: 0.5em 0;
}

.main-banner-text-center > p {
  text-decoration: underline;
}

.main-banner-hidden {
  display: none;
}

.highlight-section {
  margin-bottom: 7em;
}

.highlight-header {
  padding: 0.5rem 0;
  font-family: 'Black mango', sans-serif;
  font-weight: 500;
  font-size: 27px;
}

.highlight-context-title {
  text-wrap: wrap;
}

.highlight-btn {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  margin-bottom: 0.8rem;
  font-size: 12px;
}

.highlight-triple-image {
  overflow-x: hidden;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.highlight-triple-image p {
  font-weight: 300;
}

.highlight-image-container, .highlight-gallery-container {
  overflow: hidden;
}


.highlight-image {
  width: 413px;/*330px formerly*/
  height: 400px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  margin-left: 20px;
}

.highlight-gallery {
  width: 227px;
  height: 360px;
  margin-right: 1em;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.grid-4 {
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 15px;
}

.loader {
  min-height: 60vh;
}

.header {
  margin-top: 48px;
}

.header h2 {
  margin-bottom: 14px;
  font-size: 18px;
}

.mobile-only {
  display: flex;
  padding-inline: 0 !important;
}

.desktop-only {
  display: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 1024px;
  box-sizing: border-box; 
}

.product-item {
  width: 100%;
  height: 316px;
  border: 1px solid #ddd;
  padding: 10px;

}

.no-products {
  width: calc(90vw - 270px);
  height: 1000px;
}

.image-container {
  width: auto;
  height:180px ;
  overflow: hidden;
  position: relative;
}

.image-container img {
  background-color: rgba(206, 159, 201, 0.5);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-item h5 {
  margin: 10px 0;
}

.product-item p {
  color: #888;
  font-size: 12px;
}

.pagination-label {
  font-weight: 600;
}

.login-page {
  width: 100vw;
  height: auto;
  margin: 50px 0;
}

.login-section {
  width: 90%;
}


@media (width > 580px) {
  .grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 33px 20px;
  }

  .header h2 {
    font-size: 24px;
  }
}

@media (width >= 768px) {
  .small-col {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .flex-fluid {
    flex-direction: row;
  }

  .main-banner-img {
    flex-direction: row;
  }

  .main-banner-img1, .main-banner-img2 {
    width: 28%;
    height: 500px;
  }

  .main-banner-text-center {
    display: none;
  }

  .highlight-header {
    padding: 2rem 0;
    font-family: 'Black mango', sans-serif;
    font-weight: 500;
    font-size: 61px;
  }

  .highlight-btn {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-bottom: 1.5rem;
    font-size: 16px;
  }
}

@media (width >= 1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }
}

@media only screen and (max-width: 900px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }
  
}



/* Mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .main-banner {
     background-size: 100% auto;
     background-repeat: no-repeat;
   }

   .main-banner-container {
      padding-top: 0;
   }
 
   .main-banner-text {
     margin-top: 3rem !important;
   }

   .highlight-context {
    color: yellow;
    display: none;
   }

   .highlight-image {
    width:220px;
    height:270px;
    margin-left: 0;
    margin-right: 20px;
  }

  .highlight-gallery {
    width: 120px;
    height: 230px;
  }

  .highlight-triple-image {
    font-size: 12px;
  }

  .login-section {
    margin-left: 5%;
  }

 }



/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 16px; 
  height: 50px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: rgb(var(--background-end-rgb));
}

/* Thumb (draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--foreground-rgb)); 
  border: 4px solid rgb(var(--foreground-rgb)); 
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--foreground-rgb)); 
}

/* Optional: Style the buttons on the scrollbar */
::-webkit-scrollbar-button {
  background-color: rgb(var(--background-end-rgb)); 
  display: block; 
}

/* Optional: Style the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: rgb(var(--background-end-rgb)); 
}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.7s ease-in-out forwards;
}



