@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}


/**poppins  examples**/
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}



::selection {
  background: rgb(var(--background-color));
  color: rgb(var(--foreground-color));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-color));
  background: rgb(var(--secondary-color));
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/* body.cart-open {
  overflow: hidden;
} */

#modal.action,
body.action {
  opacity: 0.7;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: rgb(var(--foreground-color));
}

span {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type='search']::-ms-reveal,
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
  font-weight: 500;
}

.main-button {
  background-color: #000;
  color: #FFF;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0;
  box-shadow: 3px 3px 0px white,
  2px 2px 0px black,
  4px 4px 0px black;
}

.main-button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.main-button:after {
  content: "→";
  margin-left: 10px;
}

.btn-shop {
  margin-top: 10px;
}

.btn-shop:after {
  content: '';
}


.button-fill {
  background: rgb(var(--background-color)) !important;
  color: rgb(var(--foreground-color));
  border: none !important;
}

.button-outline {
  background: transparent !important;
  border: 1px solid rgb(var(--background-color)) !important;
  color: rgb(var(--background-color));
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex,
.flex-fluid {
  display: flex;
}

.flex-col,
.flex-fluid {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-x {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-y {
  align-items: center;
}

.grid {
  display: grid;
}

.highlight-context {
  padding: 1rem;
  font-weight: 400;
}

.highlight-context button {
  border: 0;
  background-color: #FFF;
  font-weight: 700;
}

.container {
  min-width: 90vw;
  width: 90%;
  max-width: 1440px;
  width: clamp(90vw, 90%, 1440px);
  margin: 0 auto;
  position: relative;
}

.not-found {
  padding: 50vh 0;
}

.main-banner {
  background-image: url('/picture.png');
  background-size: cover;
}

.main-banner-text-main {
  margin-bottom: 2rem;
  font-size: 30px;
}


.main-banner-container {
  padding-top: 8rem;
}

.main-banner-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
}

.main-banner-img1 {
  width: 100%;
  height: 300px; 
  background-image: url('/make-up.jpg');
  background-size: cover;
  background-position: center;
}

.main-banner-img2 {
  width: 100%;
  height: 300px; 
  background-image: url('/people.png');
  background-size: cover;
  background-position: center;
}

.main-banner-text {
  margin-top: 25rem;
}

.main-banner-hidden {
  /*text-shadow: 0px 0px 2px white;*/
  display: none;
}

.highlight-header {
  padding: 2rem 0;
}

.highlight-btn {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.highlight-triple-image {
  overflow-x: hidden;
}

.grid-4 {
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 15px;
}

.loader {
  min-height: 60vh;
}

.header {
  margin-top: 48px;
}

.header h2 {
  margin-bottom: 14px;
  font-size: 18px;
}

.mobile-only {
  display: flex;
  padding-inline: 0 !important;
}

.desktop-only {
  display: none;
}

@media (width > 580px) {
  .grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 33px 20px;
  }

  .header h2 {
    font-size: 24px;
  }
}

@media (width >= 768px) {
  .small-col {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .flex-fluid {
    flex-direction: row;
  }

  .main-banner-img {
    flex-direction: row;
  }

  .main-banner-img1, .main-banner-img2 {
    width: 30%;
  }

  .main-banner-hidden {
    text-shadow: 0px 0px 2px white;
    display: flex;
  }
}

@media (width >= 1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }
}


/* Mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .main-banner {
     background-size: 100% auto; /* or any other size you prefer */
     background-repeat: no-repeat;
   }
 
   .main-banner-text {
     margin-top: 3rem !important;
   }
 }


/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 16px; /* Change width for vertical scrollbar */
  height: 50px; /* Change height for horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: rgb(var(--background-end-rgb)); /* Background color of the track */
}

/* Thumb (draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--foreground-rgb)); /* Color of the thumb */
  border: 4px solid rgb(var(--foreground-rgb)); /* Padding around thumb to create space around */
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--foreground-rgb)); /* Color when thumb is hovered */
}

/* Optional: Style the buttons on the scrollbar */
::-webkit-scrollbar-button {
  background-color: rgb(var(--background-end-rgb)); /* Color of the buttons */
  display: block; /* Ensure buttons are visible */
}

/* Optional: Style the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: rgb(var(--background-end-rgb)); /* Color of the corner */
}


/* styles/globals.css */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.7s ease-in-out forwards;
}



