.settingsContainer {
  display: flex;
}

.settingsSidebar {
  width: 250px;
  padding: 2rem 1rem;
}

.settingsSidebar h2,
.accountDetails h2 {
  margin-bottom: 1rem;
}

.settingsSidebar ul {
  list-style-type: none;
  padding: 0;
}

.settingsSidebar ul li.active {
  background-color: #e0e0e0;
}

.settingsSidebar li {
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.settingsSidebar li svg {
  margin-right: 0.5rem;
}

.settingsContent {
  flex-grow: 1;
  padding: 2rem;
}

.accountDetails,
.deliveryAddresses {
  font-family: var(--font-poppins), sans-serif;
}

.accountDetails  h2,
.deliveryAddresses h2{
  font-size: 20px;
  font-weight: 600;
}

.deliveryAddresses h2 {
  margin-bottom: 2rem;
}

.address h3,
.address p {
  margin-top: 10px;
  font-family: var(--font-poppins), sans-serif;
}

.shopPreferences {
  padding-left: 2.5rem;
}

.shopPreferences h2,
.formGroup h3 {
  margin-bottom: 1rem;
  font-family: var(--font-poppins), sans-serif;
}

.formPreferences {
  width: 50%;
}

.formGroup {
  margin-bottom: 1rem;
  position: relative;
}

.formGroup h3 {
  font-size: 14px;
  font-weight: 400;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.formGroup select {
  background-color: #FFF;
  padding: 1rem;
}

.inputWrapper input {
  padding-right: 3rem;
}

.formGroup input:focus,
.formGroup select:focus {
  outline: 1px solid #000
}

.editButton,
.deleteButton,
.saveButton,
.addPaymentButton,
.addAddressButton {
  padding: 1rem;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}


.editButton {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.payEditParent .editButton {
  position: static;
}

.editButton:hover {
  text-decoration: none;
}

.deleteButton {
  background-color: #000;
  color: white;
}

.saveButtonParent {
  display: flex;
  justify-content: flex-end;
}

.prefBtnParent {
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  background-color: #E5E5E5;
  color: #B3B3B3;
}

.prefBtnParent .saveButton {
  background-color: rgba(0,0,0,0.5);
  padding: 1rem 2rem;
  color: #FFF;
}

.addPayBtnParent {
  display: flex;
  justify-content: flex-end;
}

.addPayBtnParent .addPaymentButton {
  width: 243px;
}

.addPaymentButton,
.addAddressButton {
  background-color: #000;
  color: white;
}

.addAddressParent {
  text-align: right;
}

.addAddressButton {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.cardIcon {
  font-size: 2rem;
  margin-right: 1rem;
}

.cvvInput {
  width: 60px;
  margin-right: 1rem;
}

.paymentOptionsParent {
  display: flex;
  justify-content: flex-end;
}

.paymentOptions {
  display: flex;
  background-color: #F4F4F4;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 243px;
}

.paymentOption {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 30px;
}

.paymentOption img {
  height: 20px;
}

.radioGroup,
.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.radioGroup label,
.checkboxGroup label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  gap: 5px;
}

.deleteAccount {
  padding: 20px 0;
}


/*deliveryAddress styles*/

.popupForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 500px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto; 
}

.popupForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popupForm input,
.popupForm select {
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.formActions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formActions button[type="submit"] {
  background-color: #000;
  color: white;
}

.formActions button[type="button"] {
  background-color: #f8f9fa;
  color: #000;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.edit {
  background: none;
  border: none;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
}

.addButton {
  width: 150px;
  font-size: 16px;
  align-self: flex-end;
  color: #fff;
  background: #000;
  padding: 3px 6px;
  border: 0;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkboxWrapper label {
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkboxWrapper input {
  padding: 0;
  margin: 0;
  flex: 1;
}

.checkboxWrapper span {
  flex: 5;
}
  
@media (max-width: 768px) {
  .settingsContainer {
    display: none;
  }

  .settingsSidebar {
    width: 100%;
  }

  .paymentMethods h2{
    font-size: 14px;
    font-weight: 400;
  }

  .savedCards, .paymentOptionsParent {
    display: none;
  }

  .addPayBtnParent .addPaymentButton {
    width: 100%;
    margin-top: 2rem;
    font-size: 12px;
    font-weight: 500;
  }

  .shopPreferences {
    padding-left: 0;
  }

  .formPreferences {
    width: 100%;
  }

  .prefBtnParent .saveButton {
    width: 100%;
  }

  .popupForm {
    width: 90%; 
  }
}