.news_grid {
 
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.news_item {
  font-family: var(--font-poppins);
}

.news_link,
.news_title {
  font-weight: 600;
}

.news_link {
  color: #767677;
  font-size: 19.39px;
  line-height: 29.09px;
}

.news_title {
  color: #000;
  font-size: 17.45px;
  line-height: 26.18px;
}

.news_date {
  color: #767676;
  font-size: 15.51px;
  line-height: 23.27px;
}

@media (width < 1440px) {
  .news_link {
    font-size: 16.51px;
    line-height: 24.77px;
  }

  .news_title {
    font-size: 14.45px;
    line-height: 21.68px;
  }

  .news_date {
    font-size: 13.51px;
    line-height: 20.27px;
  }
}

@media (max-width: 928px) {
  .news_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news_link {
    font-size: 15.51px;
    line-height: 23.27px;
  }

  .news_title {
    font-size: 13.45px;
    line-height: 20.18px;
  }

  .news_date {
    font-size: 12.51px;
    line-height: 18.77px;
  }
}

@media (max-width: 768px) {
  .news_grid {
    grid-template-columns: 1fr;
  }
}
