.user-menu {
  right: 0;
  top: 120%;
  padding: 16px;
  width: 224px;
  height: auto;
  padding: 10px;
  z-index: 1000;
  position: absolute;
  background: #fff;
  border: 1px solid #cccccc;
  font-family: var(--font-poppins), sans-serif;
}

.user-menu h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;
}

.menu-icons,
.user-menu span {
  font-size: 15px;
  color: #767677;
  line-height: 24px;
  white-space: nowrap;
}

.user-menu-links {
  gap: 10px;
}

.user-menu li,
.user-menu button {
  height: 26px;
  overflow: hidden !important;
  width: fit-content;
}

.menu-icons:hover,
.user-menu button:hover {
  color: #000;
}

.user-menu button {
  border: none;
  background: none;
  font-weight: 400;
}
