.header {
  padding: 24px 16px;
  position: relative;
}

.top_wrapper {
  padding: 16px;
  background: #000;
  position: relative;
}

.top_banner {
  color: #fff;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  font-family: var(--font-poppins);
}

.top_banner button {
  top: 8px;
  right: 8px;
  position: absolute;
}

.top_banner button svg {
  width: 9px;
  height: 9px;
}

.top_banner button path {
  stroke: #fff;
}

.navWrapper {
  z-index: 101;
  margin: 0 auto;
  max-width: 1320px;
}

.navWrapper > a {
  height: 36px;
}

.navWrapper > a svg {
  width: auto;
  height: 100%;
}

.dropdown,
.link_items {
  gap: 41px;
  display: none;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-poppins);
}

.menu_close,
.menu_items button,
.link_items button,
.top_banner button {
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background: transparent;
}

.actions {
  gap: 10.84px;
  align-self: flex-end;
}

.actions li {
  position: relative;
}

.actions button,
.menu_items button {
  border: none;
  position: relative;
  background: transparent;
}

.actions button svg {
  width: 24px;
  height: 24px;
}

.menu {
  top: 0;
  right: 0;
  gap: 10px;
  z-index: 102;
  position: fixed;
  padding: 24px 16px;
  background: #fff;
}

.menu_items {
  margin-top: 20%;
}

.menu_items > li {
  font-size: 18px;
  overflow: hidden;
  padding-block: 24px;
  height: auto !important;
  font-family: var(--font-poppins);
  border-bottom: 1px solid #f1f1f1;
}

.menu_close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.sub_menu {
  gap: 10px;
  margin-top: 20px;
  padding-left: 16px;
}

.dropdown {
  height: 0;
  gap: 10px;
  left: 50%;
  top: 134px;
  z-index: 103;
  display: none;
  position: fixed;
  background: #fff;
  padding: 32px 10px;
  transform: translateX(-50%);
}

.user_auth {
  gap: 16px;
  border: none;
  font-size: 18px;
  margin-top: auto;
  font-weight: 400;
  background: transparent;
  font-family: var(--font-poppins);
}

.user_action {
  display: none;
}

@media (width > 1024px) {
  .header {
    padding: 30px 80px;
  }

  .link_items {
    display: flex;
    font-size: 18px;
  }

  .link_items a {
    line-height: 27px;
  }

  .actions {
    gap: 28.89px;
    align-self: center;
  }

  .hamburger {
    display: none;
  }

  .dropdown {
    display: flex;
  }

  .dropdown a {
    line-height: 8.64px;
  }

  .top_wrapper {
    padding: 12px 16px;
  }

  .top_banner {
    font-size: 14px;
    position: relative;
  }

  .top_banner button {
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
  }

  .user_action {
    display: flex;
  }
}

@media (width >= 1440px) {
  .top_wrapper {
    padding: 24px;
  }

  .top_banner {
    font-size: 18px;
  }
}
