.accordion {
  overflow: hidden;
}

.accordion:not(:last-of-type) {
  border-bottom: 1px solid #0000004d;
}

.accordion button {
  border: none;
  background: none;
  padding-block: 12px;
  padding-inline: 8px;
}

.active svg {
  transform: rotate(-90deg);
}

.accordion:not(:last-of-type) {
  margin-bottom: 10px;
}

.accordionBody p {
  text-align: left !important;
}

@media (width >= 768px) {
  .accordion button {
    padding-block: 16px 20px;
  }
}
