.main {
  grid-template-columns: 295px 1fr;
}

.main_pane {
  padding-left: 30px;
  padding-bottom: 64px;
}

.mobile_filter,
.mobile_sub_nav {
  display: none;
}

@media (max-width: 1024px) {
  .main {
    display: block;
  }

  .main_pane {
    padding-left: 0;
  }

  .sidebar,
  .desktop_filter {
    display: none;
  }

  .mobile_filter {
    display: block;
  }

  .mobile_sub_nav {
    display: flex;
    margin-bottom: 24px;
  }

  .mobile_sub_nav h2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #00000080;
    font-family: var(--font-poppins);
  }

  .mobile_sub_nav button {
    gap: 8px;
    width: 109px;
    padding: 10px;
    font-size: 14px;
    background: transparent;
    border: 1px solid #0000001a;
  }
}
