.auth {
  padding: 24px;
  max-width: 512px;
  background: #fff !important;
  font-family: var(--font-poppins);
}

.auth h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 24px;
}

.field {
  position: relative;
  border: 1px solid #767677;
}

.field label {
  position: relative;
}

.field {
  margin-bottom: 24px;
}

.field input {
  border: none;
  padding: 10px;
  font-size: 18px;
  color: #767677;
  background: transparent;
}

.field input::placeholder {
  font-weight: 500;
}

.last {
  margin-bottom: 0;
}

.error {
  bottom: -18px;
  font-size: 12px;
  color: tomato;
  position: absolute;
}

.password_visibility {
  top: 50%;
  right: 10px;
  border: none;
  font-size: 14px;
  background: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  transform: translateY(-50%);
}

.forgot_pass a {
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
  line-height: 27px;
  margin-left: auto;
}

.submit_button {
  border: none;
  height: 54px;
  color: #fff;
  margin-top: 32px;
  background: #000;
  text-transform: uppercase;
}

.sub_content {
  font-size: 14px;
  font-weight: 500;
  margin-top: 24px;
  color: #767677;
  text-align: center;
  line-height: 22.4px;
}

.cta {
  font-size: 18px;
  margin-top: 64px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}

.cta a {
  text-decoration: underline;
}

@media screen {
  .auth h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .cta,
  .field input,
  .forgot_pass a {
    font-size: 16px;
  }

  .cta {
    margin-top: 48px;
  }
}
