.cart-container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  overflow: hidden;
}

.cart-modal {
  top: 0;
  right: 0;
  z-index: 60;
  width: 528px;
  height: auto;
  padding: 32px;
  display: none;
  position: absolute;
  background: white;
  transition: right 0.3s;
  font-family: 'Poppins', sans-serif;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.cart-modal.open {
  top: -0.2rem;
  right: 10px;
  display: block;
}

.cart-header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.cart-header-title > * {
  margin-right: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.cart-items {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  max-height: 180px;
}

.cart-item {
  display: flex;
  margin-bottom: 1rem;
}

.cart-item img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.cart-actions {
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 1rem;
  margin-bottom: 2.3em;
  justify-content: space-between; */
}

.view-bag-button,
.checkout-button {
  padding: 1.2rem 3rem;
  font-weight: 400;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-transform: capitalize;
}

.view-bag-button {
  background: #fff;
  color: #000;
  border: 1px solid black;
}

.checkout-button {
  background: #000;
  color: #fff;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
}

@media (max-width: 500px) {
  .cart-modal {
    width: 100%;
    right: 0;
  }

  .cart-header {
    padding: 0.5rem;
  }

  .cart-items {
    padding: 0.5rem;
    max-height: 150px;
  }

  .cart-item img {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
  }

  .cart-item h4,
  .cart-item p,
  .cart-item h5 {
    font-size: 0.875rem;
  }

  .cart-actions {
    padding: 0.5rem;
    margin-bottom: 1.5em;
  }

  .view-bag-button,
  .checkout-button {
    padding: 0.8rem 2rem;
    font-size: 0.875rem;
  }

  .close-button {
    font-size: 1.25rem;
  }
}
