.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
  background: transparent;
  margin-left: 5.16px !important;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: black;
}

.bar:not(:last-of-type) {
  margin-bottom: 4px;
}
