.category_wrapper {
  padding-block: 32px;
}

.category_wrapper h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 27.36px;
  font-family: var(--font-header);
}

.category_cards {
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.category_cards li a {
  gap: 11px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: var(--font-poppins);
}

@media (width >= 1024px) {
  .category_wrapper {
    padding-block: 60px;
  }

  .category_cards {
    gap: 32px;
  }
}

@media (width >= 1440px) {
  .category_cards {
    gap: 76px;
  }
}
